<p>There are {{configurations.length}} configurations</p>


<mat-list>
    <mat-list-item *ngFor="let configuration of configurations">
        ID = {{configuration.id}}, URL = {{configuration.url}}, Poll Interval = {{configuration.pollIntervalMinutes}} Minutes ({{configuration.active ? 'Active' : 'Inactive'}})
        <button mat-raised-button (click)="showUpdateConfigurationDialog(configuration)">Update</button>
    </mat-list-item>
</mat-list>

<button mat-raised-button (click)="getConfigurations()">Refresh</button>
<button mat-raised-button (click)="showAddConfigurationDialog()">Add Configuration</button>