<h2 mat-dialog-title>{{operation}} Poll Configuration</h2>

<mat-dialog-content>
    <p> <!-- Using p tags to make the elements appear on separate lines doesn't cause a scrollbar to appear. Using br tags in between does. -->
        <mat-form-field>
            <mat-label>URL</mat-label> 
            <input matInput [(ngModel)]="configurationURL"/>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Poll Interval (minutes)</mat-label>
            <input matInput [(ngModel)]="pollIntervalMinutes"/>
        </mat-form-field>
    </p>
    <p>
        <mat-checkbox [(ngModel)]="active">
            Active
        </mat-checkbox>
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="closeAndAdd()">{{operation}} Configuration</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>